body
{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 20px;
    background-color: hsl(210, 50%, 95%);
}


.color-box
{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.blue
{
    background-color: hsl(240, 100%, 50%)
}
