#bmiCalculator {
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}
